* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "diana";
	src: url("./fonts/bootstrap-icons.woff");
}

body,
html {
	font-size: 15px;
	background-color: #faf4f4;
	overflow-x: hidden;

}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}
header .logo-box p{
	height: 40px;
	padding-top: 10px;
	color: #fff;
	font-size: 30px;

}
header .top-menu {
	z-index: 10;
	height: 57px;
	position: relative;
}

header .main-menu ul {
	text-align: center;
}

header .main-menu ul li {
	display: inline-block;
	margin: 4px;
	position: relative;

}

header .main-menu ul li a {
	display: inline-block;
	padding: 15px 5px;
	color: #eee;
	position: relative;

}

header .main-menu ul li>ul>li>a {
	position: relative;
	right: 0;
}

header .main-menu ul li>ul>li>a::before {
	position: absolute;
	content: "";
	width: 0;
	height: 1px;
	top: 12px;
	right: 0;
	background-color: #888;
	transition: all 0.5s ease;
}

header .main-menu ul li>ul>li>a:hover {
	right: 8px;
	transition: all 0.5s ease;
}

header .main-menu ul li>ul>li>a:hover::before {
	position: absolute;
	content: "";
	width: 5px;
}

header .main-menu ul li ul {
	position: absolute;
	right: 0;
	top: 55px;
	width: 200px;
	background-color: white;
	text-align: right;
	opacity: 0;
	visibility: hidden;
	z-index: 10;
}

header .main-menu ul>li:hover>ul {
	opacity: 1;
	visibility: visible;
	transition: all 0.5s ease;
	padding: 8px;
}

header .main-menu ul li ul li {
	display: block;
}

header .main-menu ul li ul li a {
	color: #717171;
	padding: 5px 10px;
	display: block;
}

header .main-menu ul li>ul>li>ul {
	right: 100%;
	top: -12px;
}

header .slider-box,
header .page-title-box {
	margin-top: -57px;
}

header .page-title-box {
	padding-top: 100px;
	background-color: #87bab5;
	color: #eedede;
	font-size: 12px;
}

header .slider-box::after {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	/* background-color: #00000073; */
	/* object-fit: cover;
   background-color:  #00000073; */
}

header .top-access a {
	font-size: 1.3em;
	margin: 3px;
}

header .slider-box .carousel-caption {
	top: 40%;
	z-index: 1;
}

.index-services .item i {
	font-size: 20px;
	color: #87bab5;
}

.index-services .item span {
	font-size: 18px;
	color: #717171;
	position: relative;
}

.index-services .item span .title::after {
	content: "";
	position: absolute;
	width: 5px;
	height: 5px;
	background-color: #87bab5;
	bottom: -4px;
	right: 0;
	left: 0;
	margin: 0 auto;
	transform: rotate(45deg);
	margin-bottom: -11px;
}

.index-services .item p {
	color: #999;
	line-height: 1.8;
	font-size: 15px;
}

.product-item {
	will-change: 25px;
}

.product-item figure {
	height: 210px;
}

.product-item figure img {
	height: 210px;
	object-fit: contain;
}

.product-item figure figcaption {
	margin-top: -120px;
	position: relative;
	right: 0;
	opacity: 0;

}

.product-item figure figcaption:hover {
	opacity: 1;


}

.product-item figure figcaption ul li a {
	width: 40px;
	height: 40px;
	line-height: 44px;
	font-size: 14px;
	background-color: rgba(255, 255, 255, 0.5);
	transition: all 0.3s ease;
	color: black;

}

.product-item figure figcaption ul li a:hover {
	background-color: #87bab5;
	transition: all 0.3s ease;
}

.product-item h5 {
	line-height: 1.8;
	font-size: 1em;
	height: 55px;
	overflow: hidden;
	color: #414141;
}

.product-item p {
	color: #474747;
	font-size: 0.9em;
	height: 37%;
	overflow: hidden;
}

.product-item .product-rate i {
	font-size: 12px;
}

.product-item .product-price {
	font-size: 13px;
}

.product-item-border {
	border: 1px solid #eee;
}

.index-products .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: #111;
	background-color: transparent;

}

.index-products .nav-link {
	display: block;
	padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
	font-size: var(--bs-nav-link-font-size);
	font-weight: var(--bs-nav-link-font-weight);
	color: #717171;
	text-decoration: none;
	background: 0 0;
	border: 0;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.product-view .text-item {
	margin-top: 30px;
}

.product-view .timer-box {
	flex-direction: row-reverse;
}

.product-view .timer-box div {
	width: 50px;
	height: 50px;
	background-color: #515151;
	text-align: center;
	line-height: 50px;
	color: #eee;
	font-size: 20px;
	margin: 3px;
}

.product-view .timer-box div:last-child {
	display: none;
}

.product-view .text-item p {
	line-height: 1.9;
	color: #515151;
	text-align: justify;
}

.product-view .text-item a {
	background-color: #87bab5;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

footer {
	background-color: #87bab5;
	color: #eedede;
	font-size: 12px;
}

/* footer::before{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 78px;
    height: 40px;
    line-height: 40px;
    color: white;
    font-size: 16px;
    transform: rotate(45deg);
    background-color: #87bab5;
    margin-top: -30px;
} */
/* footer::after{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 78px;
    height: 40px;
    line-height: 40px;
    color: white;
    font-size: 16px;
    transform: rotate(45deg);
    background-color: transparent;
    background-image: url('./svg/svg/arrow-down-left-circle.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -30px;
}
footer .icon{
    color: white;
    font-size: 20px;
} */
footer span .scroltop {
	right: 0;
	left: 0;
	margin: 0 auto;
	width: 78px;
	height: 40px;
	z-index: 10;
	display: block;
	text-align: center;
	cursor: pointer;
}

footer svg {
	color: black;
	font-size: 40px;
	cursor: pointer;
	text-align: center;

}

footer .footer-menu li {
	display: inline-block;
	margin: 4px;
}

footer .footer-menu a {
	color: #515151;
	padding: 5px;
}

.footer-box span.title {
	font-size: 14px;
	color: #eedede;
}

/* .footer-box span.title::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color:white ;
    bottom: 0;
    right: 0;
    left: auto;
    margin: 0 auto;
    transform: rotate(45deg);
} */
footer .social-ul li a {
	color: gray;
	font-size: 17px;
}

.site-title-box span {
	color: #717171;
}

.site-title-box span a {
	color: #717171;
	font-size: 12px;
}

.site-title-box span a:hover i {
	position: relative;
	top: 2px;
	right: 5px;
	transition: all 0.3s ease;
}

/* singel-product */
.page-title-box .bread-crumb-box ol {
	padding: 0;
}

.page-title-box .bread-crumb-box li {
	display: inline-block;
	color: #111;
}

.page-title-box .bread-crumb-box a {
	padding: 3px 10px;
	color: #ebf9ff;
	display: inline-block;
	position: relative;
	font-size: 12px
}

.page-title-box .bread-crumb-box span {
	color: #333;
}

.page-title-box .bread-crumb-box a::after {
	content: "";
	position: absolute;
	width: 3px;
	height: 3px;
	background-color: #fff;
	top: 13px;
	right: 95%;

}

.product-img .product-gallery img {
	height: 100px;
	object-fit: contain;
	display: flex;
}

.product-img figure {
	position: relative !important;
}

.product-img figure figcaption {
	top: 0;
	right: 0;
	left: 0;
	background-color: #4d454585;
	position: absolute !important;
	opacity: 0;
	transition: all 0.3s ease;

}

.product-img figure figcaption:hover {
	opacity: 1;
}

.product-img figure figcaption i {
	margin-top: 19px !important;
	display: block;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.produt-ditail h1 {
	font-size: 20px;
	color: #888;
}

.produt-ditail .product-rating {
	font-size: 11px;

}

.produt-ditail .product-rating span {
	color: #717171;
	font-size: 12px;
	padding-right: 20px;
}

.produt-ditail .product-price span {
	font-size: 17px;
}

.add-to-card button {
	border: 0;
	outline: 0;
	background-color: #87bab5;
	padding: 5px 15px;
	display: inline-block;
	color: #fff;
}

.add-to-card input[type="number"] {
	border: 0;
	outline: 0;
	border: 1px solid #87bab5;
	width: 40px;
	height: 29px;
	padding-left: 5px;
	color: #333;
}

.add-to-wish {
	font-size: 12px;
	color: #888;
	cursor: pointer;
}

.cat-sku {
	font-size: 13px;
	color: #515151;
}

.product-excert p {
	line-height: 20px;
	font-size: 13px;
	color: #888;
	text-align: justify;
}

.product-content .nav-pills .nav-link.active,
.product-content .nav-pills .show>.nav-link {
	color: #111;
	border-bottom: 1px solid #111;
	background-color: transparent;
}

.product-content .nav-link {
	color: #717171;
}

.nav-pills .nav-link {
	background-color: none;
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid #cecaca;
	margin: 0 2px;
	padding: 5px 10px;
	font-size: 12px;
}

/* .product-content{
    height: 50%;
} */
.product-content .tab-content {
	line-height: 1.9;
	color: #818181;
	margin: 10px 0;
	max-height: 50px;
}

.product-content .tab-content h1,
.product-content .tab-content h2,
.product-content .tab-content h3,
.product-content .tab-content h4,
.product-content .tab-content h5,
.product-content .tab-content h6 {
	margin: 15px 0;
	padding: 0;
	color: #515151;
}

.product-content .tab-content img {
	display: table;
	margin: 0 auto;
}

.product-content .tab-content .review-item-box img {
	height: 40px;
	object-fit: contain;


}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="password"] {
	width: 100%;
	height: 45px;
	background-color: #eee;
	padding: 0 8px;
	border: 0;
	margin: 5px 0;
	outline: 0;
}

form textarea {
	width: 100%;
	height: 150px;
	resize: none;
	background-color: #eee;
	padding: 8px;
	border: 0;
	margin: 5px 0;
	outline: 0;
}

form button,
form input[type="submit"] {
	width: 100%;
	height: 45px;
	background-color: #87bab5;
	color: #fff;
	border: 0;
	margin: 5px 0;
	outline: 0;
}

.product-review-form .set-rate {
	width: 100%;
	height: 45px;
	background-color: #eee;
	padding: 0 8px;
	border: 0;
	margin: 5px 0;
	outline: 0;
	line-height: 45px;
	color: #999;
}

::placeholder {
	color: #999;
	font-size: 12px;
}

.product-review-form input[type="radio"] {
	position: relative;
	display: none;
}

.product-review-form input[type="radio"]+label {
	position: relative;
	width: 1em;
	color: #888;
	cursor: pointer;

}

.product-review-form input[type="radio"]+label::before {
	content: "\f588";
	position: absolute;
	font-family: bootstrap-icons !important;
}

.product-review-form input[type="radio"]+label:hover::before {
	color: hsl(51, 100%, 50%);

}

.product-review-form input[type="radio"]:checked~label::before {
	color: hsl(51, 100%, 50%);

}

.product-review-form .set-rate .box-rate {
	position: relative;
	top: -25px;
	left: 10px;
}

.product-content .tab-content .review-parent i {
	font-size: 10px;
}

.disign {
	margin-top: -8rem;
}

/* blog */

.blog-post-item img {
	height: 250px;
	object-fit: cover;
	width: 100%;
}

.blog-post-item h5 {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.blog-post-item p {

	height: 60px;
	color: #818181;
	line-height: 1.5;
	overflow: hidden;
	text-align: justify;
	padding-left: 10px;
}

.blog-post-item span {
	font-size: 12px;
	color: #999;
}

.blog-post-item .site-btn {
	color: white;
	background-color: #87bab5;
	padding: 15px;
	font-size: 12px;
}

.pagination-box a,
.pagination-box span {
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	background-color: #87bab5;
	color: #fff;
	margin: 0 1px;
	display: inline-block;
	text-align: center;
}

.pagination-box .current {
	background-color: #fff;
	color: #313131;

}

.blog-sidebar span.title::after {
	content: "";
	position: absolute;
	margin-bottom: 0px;
	margin-right: -83px;
	margin-top: 39px;
	height: 1px;
	background-color: #8d8c8c;
	width: 77px;
}

.blog-sidebar ul {
	padding: 0;
	margin: 0;
}

.blog-sidebar ul li {
	margin: 3px;
	border-bottom: 1px dotted #eee;
	padding-bottom: 5px;
}

.blog-sidebar ul li:last-child {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

.blog-sidebar ul li a {
	color: #717171;
	padding: 5px 0;
	display: block;
	position: relative;
	transition: all 0.3 ease;
}

.blog-sidebar ul li a:hover {
	color: #494949;
	transition: all 0.3 ease;
}

.blog-sidebar ul li a::before {
	content: "\f284";
	font-family: bootstrap-icons !important;
	position: absolute;
	top: 12px;
	right: 0;
	margin-right: -10px;
	font-size: 10px;
}

/* single */
.blog-post-item .post-meta li {
	display: inline-block;
	position: relative;
	margin: 5px 15px;
	font-size: 12px;
	color: #999;
}

.blog-post-item .post-meta li::after {
	content: "";
	position: absolute;
	top: 39px;
	right: 0;
	left: -86px;
	margin: 0 auto;
	width: 5px;
	height: 5px;
	transform: rotate(45deg);
	background-color: #87bab5;
	margin-top: -30px;
}

.blog-post-item .post-meta li:last-child::after {
	background-color: transparent;
}

.blog-post-item .post-text p,
.page-body p {
	line-height: 1.9;
	text-align: justify;
	color: #717171;
	margin: 15px 0;
}

.blog-post-item .post-text img Ùˆ.page-body img {
	display: table;
	margin: 0 auto;
	border-radius: 4px;
}

.blog-post-item .post-text h1,
.page-body h1 {
	font-size: 19px;

}

/* shop */
.product-filter-sidebar {
	color: #919191;

}

.product-filter-sidebar label {
	cursor: pointer;
}

.form-check-input:checked {
	background-color: #87bab5;
	border-color: #87bab5;
}

.form-check-input:focus {
	border-color: #779e9a;
	outline: 0;
	box-shadow: none;
}

.login-regester-div label {
	position: relative;
	top: 2px;
	font-size: 12px;
	cursor: pointer;
}

/* contact */
.page-body .contact-text span {
	font-size: 12px;
	color: #999;
}

.page-body .contact-text span.title {
	font-size: 12px;
	color: #414141;
	position: relative;
}

.page-body .contact-text span.title::after {
	content: "";
	position: absolute;
	width: 4px;
	height: 4px;
	background-color: #87bab5;
	transform: rotate(45deg);
	bottom: -20px;
	right: 0;
}

.purchase-table table img {
	height: 60px;
	object-fit: contain;
}

.purchase-table table td {
	text-align: center;
	vertical-align: middle;
}

/* index menu responsive */
#responsive-menu-btn{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 4px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid #ffffff5b;
    border-radius: 4px;
    background-color: black;
    display: none;
    z-index: 200;
}

#responsive-menu-btn span{
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 6px 0px;
    display: block;
    cursor: pointer;
    z-index: 20;
}
.responsive-menu-container{
    height: 100vh;
    position: fixed;
    top: 0;
    margin-right: -102%;
    right: 0;
    z-index: 100;
    overflow-y: scroll;
    transition: all 0.5s ease;
 
}
.responsive-menu-container > ul{
    padding-right: 0;
    padding-top: 60px;
}
.responsive-menu-container > ul > li{
    border-bottom: 1px solid #eee;
}
.responsive-menu-container  ul li{
    position: relative;
}
.responsive-menu-container > ul > li:last-child{
    border-bottom: 0;
} 
.responsive-menu-container span.res-menu-ul-show{
     display: inline-block;
     width: 20px;
     height: 20px;
     background-color: #eee;
     text-align: center;
     line-height: 20px;
     position: absolute;
     left: 5px;
     top: 5px;
     cursor: pointer; 
     z-index: 30;
}
.responsive-menu-container > ul > li > a{
    display: block;
    padding: 5px 0;
    color: #292828;
}
.responsive-menu-container > ul > li >ul{
    padding-right:15px ;
    display: none;
    padding-left: 15px;
}
.responsive-menu-container > ul > li >ul li a{
    display: block;
    padding: 5px 0;
    color: #717171;
    border-bottom: 1px dotted #dee2e6;
}
.responsive-menu-container > ul > li >ul li:last-child a{
  border-bottom: 0;
}
.responsive-menu-show{
    margin-right: 0px;
    transition: all 0.5s ease;
}
@media screen and (max-width:767px) {
	.single-product-revers {
		flex-direction: column-reverse;
	}
    #responsive-menu-btn{
        display: block;
    }

}

